#bigbar {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

#bigbar-down {
    animation: jumpy 0.5s ease 1s infinite alternate;
    -moz-animation: jumpy 0.5s ease 1s infinite alternate; /* Firefox */
    -webkit-animation: jumpy 0.5s ease 1s infinite alternate; /* Safari and Chrome */
    -o-animation: jumpy 0.5s ease 1s infinite alternate; /* Opera */
}

@keyframes jumpy {
    from {
        background-position: center 0px;
    }
    to {
        background-position: center 10px;
    }
}
@-moz-keyframes jumpy { /* Firefox */
    from {
        background-position: center 0px;
    }
    to {
        background-position: center 10px;
    }
}
@-webkit-keyframes jumpy { /* Safari and Chrome */
    from {
        background-position: center 0px;
    }
    to {
        background-position: center 10px;
    }
}
@-o-keyframes jumpy { /* Opera */
    from {
        background-position: center 0px;
    }
    to {
        background-position: center 10px;
    }
}