/*** layout ***/

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #9B0506;
    position: relative;
}

#header, #content, #bottom {
    margin: 0 auto;
    clear: both;
}

#header {
    padding: 0px 30px;
}

#content, #bottom {
    max-width: 900px;
}

#bottom {
    padding: 40px 30px;
}

#bigbar ~ #top {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#top {
    background-color: #050505;
}

#title {
    /*margin: 11px 0px 11px 0px;*/
    margin: 0px 60px 0px -30px;
    padding: 9px 25px;
    float: left;
    background-color: #9B0506;
    position: relative;
    max-height: 66px;
}

#title:after {
    border-bottom: 84px solid rgba(0, 0, 0, 0);
    border-right: 84px solid rgba(0, 0, 0, 0);
    border-top: 84px solid #9B0506;
    content: "";
    height: 0;
    position: absolute;
    right: -84px;
    top: 0;
    width: 0;
}

#title .mz_wysiwyg {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-size: 43px;
    color: #ffffff;
    float: left;
    width: auto;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1;
    line-height: 66px;
    white-space: nowrap;
}

/* limit user misconduct */
#title .mz_wysiwyg img {
    max-height: 120px;
}

#content {
    max-width: 960px;
    padding: 0;
}

#main {
    padding: 40px 30px;
}

#wrap {
    background-color: #FFFFFF;
}

#bigbar ~ #belowfold {
    position: absolute;
    top: 100%;
    width: 100%;
}

#bottom-container {
    width: 100%;
}

#bottom .mz_wysiwyg {
    float: none;
    text-align: center;
    margin-bottom: 30px;
}

#bottom .mz_editable {
    color: #FCA1A1;
    font-size: 15px;
}

#bottom a {
    color: #FFFFFF;
}

#bottom a:hover {
    color: #FCA1A1;
}

#social {
    clear: both;
    float: none;
    margin-left: 0;
    text-align: center;
}

#social a {
    font-size: 50px;
}

/* language select */

#languages {
    width: auto;
    float: right;
    margin: 22px 0px 0px 0px;
}

#languages ul {
    margin: 0px 0px 0px 35px;
    padding: 0px;
    list-style: none outside none;
}

#languages li {
    display: inline;
    line-height: 1;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#languages ul {
    float: right;
}

#languages li > a {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
    min-width: 32px;
    line-height: 32px;
    display: inline-block;
}

#languages li > a.selected,
#languages li > a:hover {
    color: #FFFFFF;
    background-color: #9B0506;
}

/* menu */

#menu > ul > li {

}

#menu ul {

}

#menu > ul > li > a {
    margin: 2px 3px 2px 3px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 15px;
}

#menu > ul > li.selected > a {
    color: #CE0000;
}

#menu > ul > li > a:hover {
    color: #CE0000;
}

#menu ul li a {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;

    padding: 8px 14px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

@media screen and (max-width: 1024px) {
    #menu > ul > li > a {
        font-size: 14px;
        padding: 8px 10px;
    }
}

#menu ul ul {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#menu ul ul li {
    border-bottom: 1px solid #F2F2F2;
    border-radius: 0px;
}

#menu ul ul li:last-child {
    border-bottom: none;
    border-radius: 0px 0px 3px 3px;
}

#menu ul ul li:first-child {
    border-radius: 3px 3px 0px 0px;
}

#menu ul ul li:hover {
    background-color: #F5F5F5;
}

#menu ul ul li a {
    padding: 15px;
    color: #666666;
}

#menu ul ul li a:hover {
    color: #444444;
}

#menu {
    text-align: center;
    line-height: 1;
    margin: 24px 0px 23px 0px;
    width: auto;
    float: right;
}

/* submenu */

#submenu {
    background-color: #F2F2F2;
}

#submenu ul {
    margin: 0px 0px;
    padding: 15px;
    list-style: none outside none;
    text-align: center;
}

#submenu li {
    display: inline;
    line-height: 1;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#submenu a {
    text-decoration: none;
    padding: 7px;
    margin: 3px;
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
    color: #999999;
    border-radius: 3px;
}

#submenu li.selected a,
#submenu li:hover a {
    background-color: #9B0506;
    color: #FFFFFF
}

/* special boxes - bigbar */

#bigbar {
    margin: 0px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bigbar div.mz_banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bigbar div.moze-banner {
    background-position: center center;
    background-size: cover;
}

#bigbar-container {
    margin: 0 auto;
    max-width: 970px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    clear: both;
    display: table;
    height: 100%;
}

#bigbar-overlay-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    position: absolute;
}

#bigbar-overlay {
    text-align: center;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding: 0px 30px 120px 30px;
}

#bigbar-colorizer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsla(0, 65%, 49%, 0.47);
}

#bigbar-h1 .mz_wysiwyg {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-size: 6.5vw;
    margin: 0px 0px 20px 0px;
    color: #FFFFFF;
    letter-spacing: -0.01em;
    font-weight: normal;
    line-height: 1.2;
}

@media screen and (min-width: 1920px) {
    #bigbar-h1 .mz_wysiwyg {
        font-size: 110px;
    }
}

#bigbar-h2 .mz_wysiwyg {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
}

#bigbar-down {
    background: url(down.svg) no-repeat center 0px;
    background-size: 55px 55px;
    height: 68px;
    width: 64px;
    display: block;
    margin: 27px auto 0 auto;
    opacity: 0.5;
}

#bigbar .mz_editable h1 {
    margin: 0px;
    color: #FFFFFF;
}

#bigbar .mz_editable p {
    color: #FFFFFF;
}

/* special boxes - sidebar */

.mz_blog, .mz_catalog {
    width: 67%;
}

#sidebar h2 {
    font-size: 25px;
    border-bottom: 1px solid #E7EAEC;
    padding-bottom: 10px;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {

    #header {
        padding: 0px;
    }

    #title {
        float: none;
        margin: 0px;
        padding: 9px 0px;
    }

    #title:after {
        right: 0;
        border: none;
    }

    #title .mz_wysiwyg {
        text-align: center;
        float: none;
        font-size: 38px;
    }

    #languages {
        width: auto;
        float: none;
        margin: 0px;
        text-align: center;
    }

    #languages ul {
        float: none;
        margin: 0px;
    }

    #bigbar-h1 .mz_wysiwyg  {
        margin-bottom: 15px;
    }

    #bigbar ~ #belowfold {
        position: static;
    }

    #bigbar ~ #top {
        position: static;
    }

    #bigbar {
        position: relative;
        height: 100%;
    }

    #bigbar-down {
        background-size: 35px 35px;
        height: 48px;
        width: 44px;
        margin-top: 15px;
    }

    #bigbar-overlay {
        padding: 0px 15px;
        margin: 110px 15px;
    }

    #bigbar br {
        display: none;
    }

    #bottom .mz_wysiwyg {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    #bigbar-h2 .mz_wysiwyg  {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    #bigbar-h1 .mz_wysiwyg {
        font-size: 10vw;
    }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
    #bigbar-h1 .mz_wysiwyg {
        font-size: 10vh;
    }
}