<div id=header>
<div id=languages>
</div>
<div id=title>
<a href="{{site.url}}"><div class="mz_component mz_wysiwyg mz_editable"> <div class=moze-wysiwyg-editor>
<img src={{site.logos}}pravox-networks-logo.png class=moze-img-center style=width:159px>
</div>
</div></a>
</div>
<div class="mz_component mz_menu" id=menu>
<ul>
{% for nav_item in site.data.nav %}
<li><a href="{{nav_item.url}}">{{nav_item.name}}</a></li>
{% endfor %}
<li><a href="https://twitter.com/PravoxNetworks" target="_blank" rel="nofollow"><i class="mdi mdi-twitter"></i></a></li>
</ul>
</div>
<br style="clear:both"/>
</div>
