<!doctype html>
<html>{% include head.html %}
<body class lang=en>
<div id=bigbar>
<div class="mz_component mz_banner"> <div class="moze-banner slide" style="background-image:url('/img/header-image.png');" data-pid=296650></div>
<a class="moze-banner-slide-left" href="javascript:void(0);" rel="nofollow" style="display: none;"></a>
<a class="moze-banner-slide-right" href="javascript:void(0);" rel="nofollow" style="display: none;"></a>
</div>
<div id=bigbar-colorizer></div>
<div id=bigbar-overlay-block class=over-bigbar>
<div id=bigbar-container>
<div id=bigbar-overlay>
<div id=bigbar-h1><div class="mz_component mz_wysiwyg mz_editable"> <div class=moze-wysiwyg-editor>
Fan Controlled TV
</div>
</div></div>
<div id=bigbar-h2><div class="mz_component mz_wysiwyg mz_editable"> <div class=moze-wysiwyg-editor>
We are a group of internet-only TV channels powered by the people who watch it.
</div>
</div></div>
<a id=bigbar-down href=#top>&nbsp;</a>
</div>
</div>
</div>
</div>
<div id=top>
{% include nav.html %}
</div>
<div id=belowfold>
<div id=wrap>
<div id=content>
<div class="mz_component mz_menu" id=submenu></div>
{{ content }}
</body>
{% include footer.html %}
</html>
